body,html{
    background:grey;
    font-family:sans-serif;
}
main,footer,header{
    background:white;
    width:800px;
    padding:20px;
    margin:auto;
}
article{
    width:250px;
    display:inline-block;
}
header,footer{
    text-align:center;
}